<section class="container">

    <div class="cont-title">
        <p>Search Company</p>
    </div>

    <form class="form-cont-filters">
        <div class="cont-input-filters">
            <div class="filters">

                <div class="filter">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Keywords">
                </div>

                <div class="icon-filter">
                  <i class="fa-solid fa-filter"></i>
                </div>
               <!-- CONTENEDOR DE FILTROS DE CAT Y COUNTRY -->
                <div class="ccfilters">
                  <div class="ccfilter">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <select #countrySelect class="btn-filter">
                      <option value="default">Country</option>
                      <option value="co">Colombia</option>
                      <option value="us">United States</option>
                      <option value="ca">Canada</option>
                      <option value="mx">Mexico</option>
                    </select>
                  </div>

                  <div class="ccfilter">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <select class="btn-filter" id="country-select">
                      <option value="default">Country</option>
                      <option value="co">Colombia</option>
                      <option value="us">United States</option>
                      <option value="ca">Canada</option>
                      <option value="mx">Mexico</option>
                    </select>
                  </div>
                </div>


            </div>
            <div class="action-filters">
                <button>SEARCH</button>
                <button>Clear all</button>
            </div>
        </div>

        <div class="cont-sort-section">
            <section class="sort-section">
                <div class="cont-button-sort">
                    <button class="sortby">
                        <p>Sort by<i class="fa-solid fa-chevron-down"></i></p>
                    </button>
                    <ul *ngFor="let filter of filters" class="items">
                      <li>{{filter}}</li>
                    </ul>
                </div>
            </section>
        </div>
    </form>

    <div class="users">
      <app-user-search></app-user-search>
    </div>
</section>
