footer {
    color: rgb(101, 22, 22);
    font-size: .7rem;
    max-height: 50px;
      p{
    margin-left: 20px;
    margin-top: 20px;
    color: black;
    font-weight: bold;
          span{
              color: gray;
              font-weight: 300;
          }

      }
  }
