$greenApp: #90c129;
$blueApp: #7aa5f9;
$navColor: #f0f2f9;
$redApp: rgba(220, 20, 60, 0.85);

// @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.no-show {
  display: none;
}

.container {
  font-family: "Poppins", sans-serif;
  margin: 20px;
  padding-top: 10px;
  border-radius: 15px;
  background: $navColor;

  .header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin: 20px;
    border-bottom: 1px solid gray;

    select {
      background: none;
      inset: none;
      border: none;
    }
  }

  .diary {
    .quotes {
      // background-color: cadetblue;
      min-height: 400px;
      max-height: 50vh;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 5px;

      .cont-slots {
        // background-color: royalblue;
        display: grid;
        gap: 10px;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
          width: 8px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgb(171, 171, 171);
          border-radius: 5px;
        }

        .fila {
          background-color: white;
          -webkit-box-shadow: 0px 0px 9px 2px rgba(158, 158, 158, 0.13);
          -moz-box-shadow: 0px 0px 9px 2px rgba(158, 158, 158, 0.13);
          box-shadow: 0px 0px 9px 2px rgba(158, 158, 158, 0.13);
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr;
          grid-template-areas: "a1 a2";
          justify-content: space-between;

          .a2{
            grid-area: a2;
            justify-content: end;
            display: flex;
          .slot {
            background-color: rgb(174, 174, 174);
            color: white;
            border-radius: 10px;
            margin: 5px 10px;
            padding: 10px;
            text-align: center;
            width: 100px;
            font-size: 0.7rem;
            align-self: flex-end;
          }

          .slot-reserved {
            align-self: flex-end;
            background-color: rgba(220, 20, 60, 0.85);
            color: white;
            border-radius: 10px;
            margin: 5px 10px;
            padding: 10px;
            text-align: center;
            width: 100px;
            font-size: 0.7rem;
          }
          }

          .a1{
            grid-area: a1;
            display: flex;

            .userSlotInfo {
              // background-color: #90c129;
              border-left: 8px solid $redApp;
              padding-left: 10px;
              display: flex;
              flex-direction: column;
              justify-content: center;

              p:nth-child(1) {
                margin: 0px;
                font-weight: bold;
              }
              p:nth-child(2) {
                color: gray;
                font-size: 0.8rem;
                margin: 0px;
              }
            }
          }
        }
      }

    }

    .infoMonth {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      padding: 0px 20px;
      height: auto;

      .titles {
        display: flex;
        color: crimson;
        font-weight: 600;
        align-items: flex-end;
      }

      .actionMonth {
        color: $blueApp;
        display: flex;
        gap: 20px;
        justify-items: center;
        align-items: center;
        height: auto;
        font-size: large;

        .datenow {
          color: $greenApp;
          font-size: x-large;
          font-weight: bold;
        }
      }
    }
  }
}
