// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "../../../variables";


$gray1: #b4b4b4;
$graylith: #f0f4f9;
$gray2: #a2a2a2;
$gray3: #505050;
$gray5: #222e;
$greenApp: #90c129;
$blueApp: #7aa5f9;
$navColor: #f0f4f9;

.daniel {
  color: $greenApp;
}

button {
  background: $graylith;
  padding: 2px;
  border-radius: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  transition: all 0.2s ease;
  color: #777;

  .notification{
    position: absolute;
    right: -5px;
    top: -5px;
    background-color: $redColor;
    width: 18px;
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 2px;
    font-size: .6rem;
    color: white;
    border-radius: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .cont-icon {
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 5px;
    font-size: 1.4rem;

    img {
      width: 50%;
      fill: red;
    }
  }

  p{
    margin: 0px;
    width: 50px;
    font-size: .7rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &:hover {
    transition: all 0.2s ease;
    cursor: pointer;
    font-weight: bold;
  }

}














@media only screen and (min-width: 768px) {
  button {
    background: $graylith;
    border: none;
    display: flex;
    gap: 10px;
    width: 100%;
    min-width: 150px;
    transition: all 0.2s ease;

    .cont-icon {
      display: grid;
      place-items: center;
      background-color: #fff;
      width: 40px;
      height: 40px;
      min-width: 40px;
      min-height: 40px;
      border-radius: 5px;
      font-size: 1.1rem;

      img {
        width: 50%;
        fill: red;
      }
    }

    &:hover {
      transition: all 0.2s ease;
      cursor: pointer;
      font-weight: bold;
    }

    p {
      display: block;
    }
  }
}
