$greenApp: #90c129;
$blueApp: #7aa5f9;
$navColor: #f0f2f9;

.profile {
  grid-area: profile;
  margin-bottom: 16px;
  // background-color: crimson;

  .cont-data-profile {
    // box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    height: 100%;
    display: grid;

    .cover {
      background-image: url(../../../../assets/images/111.png);
      object-fit: scale-down;
      border-radius: 15px 15px 0px 0px;
      display: flex;
      max-height: 150px;
      padding: 20px;
      align-items: center;
      background-size: cover;
      background-repeat: no-repeat;
  // background-color: crimson;


      .cont-img-profile {
        background-color: rgba(205, 205, 205, 0.8);
        height: 15vh;
        display: flex;
        justify-content: center;
        width: 100px;
        min-width: 100px;
        // box-shadow: 140px 0px 40px 15px rgba(0, 0, 0, 0.76);

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      .data {
        margin-left: 10px;
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: -10px;
        color: white;
        position: relative;
        // background: crimson;
        p:nth-child(1) {
          margin: 0px;
          font-weight: bold;
          font-size: 1.1rem;
          // color: #2f2f2f;
        }
        p:nth-child(2) {
          color: #f0f2f9;
          margin: 0px;
          font-size: 0.9rem;
          font-weight: bold;
        }
        p:nth-child(3) {
          margin: 0px;
          font-size: 0.9rem;
        }
        p:nth-child(4) {
          margin: 0px;
          font-size: 0.8rem;
          font-weight: bold;
        }

        span {
          font-weight: 300;
          font-style: italic;
        }
      }
    }

    .categories {
      border-radius: 0px 0px 15px 15px;
      background-color: $navColor;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 20px;

      p {
        font-weight: bold;
        font-size: 0.8rem;
      }

      .cont-icon-categories {
        // background-color: crimson;
        margin: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 20px;
          margin-right: 2px;
        }
      }
    }
  }
}
