$greenApp: #90c129;
$blueApp: #7aa5f9;
$navColor: #f0f4f9;

.cont-table {
  // background-color: crimson;
  height: 100%;
  padding: 0px;


  main {
    width: 100%;
    // background-color: royalblue;
    border: none;

    article {
      height: 100px;
      padding: 0px 20px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.5);
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;

      &:hover {
        background-color: #2d2d2d18;
      }

      .cont-profile {
        display: grid;
        place-items: center;

        .cont-img-profile {
          min-height: 80px;
          padding-right: 5px;
          display: grid;
          place-items: center;

          .cont {
            background-color: #2d2d2d;
            border: 2px solid white;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;

            img {
              width: 100%;
            }
          }
        }
      }

      .info-profile {
        min-width: 100px;
        flex-grow: 1;


        p {
          margin: 0px;
        }

        .username {
          font-weight: bolder;
          font-size: 1rem;
          color: $blueApp;
          font-weight: bold;
        }

        .company-name {
          font-size: 0.8rem;
          color: #2d2d2d;
          font-weight: bold;

          img{
            width: 17px;
            height: 12px;
          }
        }

        .work-position {
          font-size: 0.8rem;
          color: #222;
        }
      }

      .categories {
        text-align: start;


        .cont-icon-categories {
          img {
            width: 15px;
            margin-right: 2px;
          }
        }
      }

      .actions {
        padding: 5px;
        .cont-actions {
          min-width: 100%;
          min-height: 100%;
          display: flex;
          gap: 5px;
          justify-content: center;

          .btn-chat {
            background-color: $greenApp;
            color: white;
            font-weight: bold;
            font-size: 0.9rem;
            width: 35px;
            min-width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 5px;
            p {
              display: none;
            }
          }

          .btn-view {
            background-color: $blueApp;
            color: white;
            font-weight: bold;
            font-size: .9rem;
            min-width: 35px;
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 5px;
            p {
              display: none;
            }
          }
        }
      }
    }
  }
}
