<div class="cont-table">
  <main>
    <article *ngFor="let user of users">
      <div class="cont-profile">
        <div class="cont-img-profile">
          <div class="cont">
            <img [src]="user.profileURL" alt="profile image">
          </div>
        </div>
      </div>


      <div class="info-profile categories">
        <p class="username">{{ user.name + ' ' + user.surname }}</p>
        <p class="company-name">
          <img
          [src]="'https://flagcdn.com/w20/' +  user.flag +'.png'"
          [srcset]="'https://flagcdn.com/w40/' +  user.flag +'.png'"
          width="20" alt="{{ user.country }}">
          {{ user.company }}
        </p>
        <p class="work-position">{{ user.workPosition }}</p>
        <div class="cont-icon-categories">
          <img *ngFor="let ctg of user.categories" [src]="'../../../assets/icons/categories/' + ctg + '.png'" alt="">
        </div>
      </div>

      <div class="actions">
        <div class="cont-actions">
          <button class="btn-view">
            <p>View Profile</p>
            <i class="fa-solid fa-user"></i>
          </button>
          <button class="btn-chat">
            <p>Chat now</p>
            <i class="fa-solid fa-comments"></i>
          </button>
        </div>
      </div>
    </article>
  </main>
</div>
