<div class="chat" (click)="selectConversation(ms.user.name)">
    <div class="user-chat">
        <div class="cont-profile">
            <img [src]="ms.user.profileURL" alt="profile image">
        </div>
        <div class="info-user-message">
            <div class="info">
                <p class="username-chat">{{ ms.user.name + ' '+ms.user.surname}}</p>
                <p class="lastHour">{{ ms.lastHour }}</p>
                <p *ngIf="ms.read" class="notification">
                  {{messagesNoRead}}
                </p>
            </div>
            <p class="lastMessage">{{ ms.lastMessage }}</p>
        </div>
    </div>
</div>
