// .container{
//     box-sizing: border-box;
//     background-color: rgb(81, 182, 136);
//     display: grid;
//     place-items: center;
//     width: 100%;
//     overflow-y: scroll;
//     overflow-x: hidden;
//     height: auto;
//     max-height: 100%;
//     // grid-template-areas: "search"
//     //                      "actives"
//     //                      "footer footer";
//     // grid-template-rows: 32vh 1fr 10vh;
//     // grid-template-columns: 1fr 25vw;
//     // background-color:  rgb(144, 79, 79);

//     .search-company{
//         // background-color: coral;
//         width: 100%;
//         display: grid;
//         place-items: center;
//     }

//     .active-users{
//         // background: chartreuse;
//         display: grid;
//         place-items: center;
//         width: 100%;
//     }

//     .calendar{
//         // background-color: chocolate;
//         display: grid;
//         place-items: center;
//         width: 100%;
//     }

//     .app-footer{
//     }
// }

@import "../../../variables";

section {
  // background-color: rgb(23, 39, 87);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: grid;
  grid-template-areas: "nav" "content" "menu";
  grid-template-rows: 50px 1fr 70px;
  grid-template-columns: 1fr;
}

.nav {
  grid-area: nav;
  box-shadow: 0px 2px 5px rgba(40, 40, 40, 0.3);
  z-index: 1;
}

.menu {
  grid-area: menu;
  display: flex;
  align-items: center;
  background: $navColor;
}

.content {
  grid-area: content;
  overflow:hidden;
  max-height: calc(100vh - 130px);
  padding: 10px 20px 0px 20px;
  // background-color: coral;
}


@media only screen and (min-width: 768px){}

@media only screen and (min-width: 992px){
  .container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "search actives"
                         "search calendar"
                         "footer footer";
    grid-template-rows: 32vh 1fr 10vh;
    grid-template-columns: 1fr 25vw;
    // background-color:  rgb(144, 79, 79);

    .search-company{
        // background-color: coral;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        display: grid;
        grid-area: search;
        padding: 0px 20px;
    }

    .active-users{
        // background: chartreuse;
        display: grid;
        place-items: center;
        grid-area: actives;
        height: 100%;
        width: 100%;
    }

    .calendar{
        // background-color: chocolate;
        display: grid;
        place-items: center;
        grid-area: calendar;
        height: 100%;
        width: 100%;
    }

    .app-footer{
        grid-area: footer;
    }
}
}
