<section>
  <div class="cont-infodate">
    <h2>{{ monthName() }} {{ year() }}</h2>
    <div class="cont-actions">
      <i class="fa-solid fa-arrow-left" (click)="changeMonth(-1)"></i>
      <i class="fa-solid fa-arrow-right" (click)="changeMonth(1)"></i>
    </div>
  </div>
  <table>
    <tr>
      <th *ngFor="let DIA of _WEEKDAYS">{{ DIA }}</th>
    </tr>
    <tr class="row" *ngFor="let row of calendar()">
      <td class="daterow" *ngFor="let cell of row" [ngClass]="{ 'has-quote': cell.hasQuote }">{{ cell.date || '' }}</td>
    </tr>
  </table>
</section>
