<section>
    <div class="container">
        <p class="title">Active users on the plataform</p>
        <div class="users">
            <div class="user">
                <div class="cont-profile">
                    <img src="https://robohash.org/alberto" alt="profile">
                </div>
            </div>
            <div class="user">
                <div class="cont-profile">
                    <img src="https://robohash.org/puerta" alt="profile">
                </div>
            </div>
            <div class="user">
                <div class="cont-profile">
                    <img src="https://robohash.org/puerta" alt="profile">
                </div>
            </div>
            <div class="user">
                <div class="cont-profile">
                    <img src="https://robohash.org/puerta" alt="profile">
                </div>
            </div>
            <div class="user">
                <div class="cont-profile">
                    <img src="https://robohash.org/puerta" alt="profile">
                </div>
            </div>
            <div class="user">
                <div class="cont-profile">
                    <img src="https://robohash.org/puerta" alt="profile">
                </div>
            </div>
            <div class="user">
                <div class="cont-profile">
                    <img src="https://robohash.org/puerta" alt="profile">
                </div>
            </div>
            <div class="user">
                <div class="cont-profile">
                    <img src="https://robohash.org/puerta" alt="profile">
                </div>
            </div>
            <div class="user">
                <div class="cont-profile">
                    <img src="https://robohash.org/puerta" alt="profile">
                </div>
            </div>
            <div class="user">
                <div class="cont-profile">
                    <img src="https://robohash.org/puerta" alt="profile">
                </div>
            </div>
        </div>
    </div>
</section>
