<div class="container">
  <div class="title">
    <p class="title">{{title}} </p>
  </div>

  <div class="user-data">
    <section class="chats">
      @for(ms of messages; track ms.id){
      <app-last-message [ms]="ms" (selected)="onConversationSelected($event)">

      </app-last-message>
      }
    </section>
    <section class="general-chat">
      <app-general-info  *ngIf="!selectedConversation"></app-general-info>
      <router-outlet  *ngIf="selectedConversation"></router-outlet>
    </section>
  </div>
  <!-- <app-footer></app-footer> -->
</div>
