$greenApp: #90c129;
$blueApp: #7aa5f9;
$navColor: #f0f2f9;

// @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-rows: 60px 1fr;
  height: 100%;
  font-family: "Poppins", sans-serif;

  .title {
    padding-top: 8px;
    // background-color: crimson;

    p {
      font-size: 1.2rem;
      margin: 0px;
      // background-color: crimson;
      padding: 8px 18px;
      font-weight: bold;
      border-bottom: 1px solid rgb(207, 207, 207);
    }
  }

  .user-data {
    background-color: white;
    // background-color: rgb(31, 75, 63);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow-y: scroll;

    .chats {
      width: 100%;
      height: 100%;
    }

    .general-chat {
      background-color: $navColor;
      border-radius: 5px;
      display: grid;
      height: 100%;
      width: 100%;
      display: none;

      .info {
        // background-color: crimson;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        img {
          width: 100px;
          align-self: center;
          filter: brightness(1.1) grayscale(1);
        }

        h3 {
          font-size: 0.9rem;
        }

        p {
          color: gray;
          font-size: 0.7rem;
        }
      }
    }

    @media screen and (min-width: 1100px) {
      background-color: white;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      overflow-y: hidden;

      .chats {
        width: 100%;
        height: calc(100vh - 130px);
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 8px; /* Establece el ancho de la barra de desplazamiento */
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(
            197,
            197,
            197,
            0.526
          ); /* Establece el color de la barra que se mueve */
          border-radius: 4px; /* Añade esquinas redondeadas a la barra que se mueve */
        }
      }

      .general-chat {
        display: grid;
        background-color: $navColor;
        border-radius: 5px;
        height: 100%;
        width: 100%;
      }
    }
  }
}
