$greenApp: #90c129;
$blueApp: #7aa5f9;
$navColor: #f0f2f9;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: royalblue;
  display: grid;
  grid-template-rows: 80px 1fr 80px;
  height: 90vh;
  font-family: "poopins", sans-serif;

  .title {
    // background-color: crimson;

    p {
      margin-left: 20px;
      margin-top: 30px;
      padding-bottom: 20px;
      font-size: 1.2rem;
      font-weight: bold;
      border-bottom: 1px solid rgb(207, 207, 207);
    }
  }

  .user-data {
    background-color: coral;
    padding: 20px 40px 0px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    .chats {
      width: 97%;

      .chat {
        background: $navColor;
        display: grid;
        padding: 10px;
        margin-bottom: 10px;
        height: auto;
        border-radius: 15px;
        grid-template-rows: 20px 1fr;
        overflow: hidden;
        transition: scale 0.1s ease-in-out;

        &:hover {
          cursor: pointer;
          scale: 1.01;
          transition: scale 0.1s ease-in-out;
        }

        .lastHour {
          text-align: end;
          height: 15px;
          margin-right: 20px;
          font-size: 0.7rem;
          align-self: center;
        }

        .user-chat {
          display: flex;

          .cont-profile {
            justify-self: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
            position: relative;
            border: 1px solid rgba(255, 255, 255, 0.802);

            img {
              width: 100%;
              object-fit: cover;
            }
          }

          .info-user-message {
            padding-left: 15px;
            width: 100%;
            display: grid;
            align-items: center;
            .info {
            }

            p:nth-child(1) {
              font-weight: bold;
            }

            p:nth-child(2) {
              color: gray;
              font-size: 0.8rem;
              width: 95%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }

    .general-chat {
      background-color: $navColor;
      border-radius: 5px;

      display: grid;
      height: 100%;
      place-items: center;

      .info {
        // background-color: crimson;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        p {
          color: gray;
        }
      }
    }
  }
}
