$greenApp: #90c129;
$blueApp: #7aa5f9;
$navColor: #f0f2f9;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-rows: 80px 1fr 80px;
  height: 90vh;
  font-family: "Poppins", sans-serif;

  .title {
    // background-color: crimson;

    p {
      margin-left: 20px;
      margin-top: 30px;
      padding-bottom: 20px;
      font-size: 1.2rem;
      font-weight: bold;
      border-bottom: 1px solid rgb(207, 207, 207);
    }
  }

  .user-data {
    background-color: white;
    padding: 20px 40px 0px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    .chats {
      width: 97%;
    }

    .general-chat {
      background-color: $navColor;
      border-radius: 5px;

      display: grid;
      height: 100%;
      place-items: center;

      .info {
        // background-color: crimson;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        img{
          width: 100px;
          align-self: center;
          filter: brightness(1.1) grayscale(1);
        }

        h3{
          font-size: .9rem;
        }

        p {
          color: gray;
          font-size: .7rem;
        }
      }
    }
  }
}
