<div class="container">
    <div class="cont-title">
        <p class="title">Chat with {{userName}}</p>
        <p>

        </p>
    </div>
    <section class="content">
        <app-profile-messages
            [name]="userName"
            [company]="userCompany"
            [workPosition]="userWorkPosition"
            [countryFlag]="userCountryFlag"
            [categories]="userCategories">
        </app-profile-messages>
        <!-- <article class="about">
            <div class="cont-data-about"></div>
        </article> -->
        <app-chat class="chat"></app-chat>
    </section>
    <!-- <app-footer></app-footer> -->
</div>
