<div class="container">
    <div class="title">
        <p class="title">Messages</p>
    </div>
    <section class="content">
        <article class="profile">
            <div class="cont-data-profile">
                <div class="cover">
                    <div class="cont-img-profile">
                        <img src="https://robohash.org/kkk" alt="image">
                    </div>
                    <div class="overlay"></div>
                    <div class="data">
                        <p class="name">Daniel Ramos</p>
                        <p class="company">Mission Recycling</p>
                        <p class="name">Developer Mission recycling</p>
                        <p class="company"><img src="https://flagcdn.com/16x12/co.png" srcset="https://flagcdn.com/32x24/co.png 2x,
                            https://flagcdn.com/48x36/ar.png 3x" width="30" height="20" alt="Colombia">
                        </p>
                    </div>
                </div>
                <div class="categories">
                    <p>Categories of Interest</p>
                        <div class="cont-icon-categories">
                            <img src="../../../../assets/icons/categories/ferrous-metals.png" alt="">
                            <img src="../../../../assets/icons/categories/plastic.png" alt="">
                            <img src="../../../../assets/icons/categories/non-ferrous-metals.png" alt="">
                            <img src="../../../../assets/icons/categories/plastic.png" alt="">
                            <img src="../../../../assets/icons/categories/plastic.png" alt="">
                            <img src="../../../../assets/icons/categories/paper.png" alt="">
                            <img src="../../../../assets/icons/categories/plastic.png" alt="">
                            <img src="../../../../assets/icons/categories/stainless-steel.png" alt="">
                            <img src="../../../../assets/icons/categories/plastic.png" alt="">
                        </div>
                </div>
            </div>
        </article>
        <article class="about">
            <div class="cont-data-about"></div>
        </article>
        <app-chat class="chat"></app-chat>
    </section>
    <app-footer></app-footer>
</div>
