$greenApp: #90c129;
$blueApp: #7aa5f9;
$navColor: #f0f4f9;

.container {
  box-sizing: border-box;
  // background-color: crimson;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 30px 1fr;
  width: 100%;
  height: 100%;

  p {
    margin: 0px;
  }

  .title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    // background-color: crimson;
    border-bottom: 1px solid gray;
  }

  .pages {
    color: gray;
    font-size: 0.8rem;
    // background-color: crimson;
    height: 20px;
    margin: 0px
  }

  .cont-users {
    // background-color: rgb(67, 90, 157);
    width: 100%;
    height: auto;
    max-height: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 16px;

    &::-webkit-scrollbar {
      width: 8px; /* Establece el ancho de la barra de desplazamiento */
  }

   &::-webkit-scrollbar-thumb {
      background-color: rgba(197, 197, 197, 0.526); /* Establece el color de la barra que se mueve */
      border-radius: 4px; /* Añade esquinas redondeadas a la barra que se mueve */
  }

    .user {
      width: 150px;
      height: 150px;
      border-radius: 15px;
      background-color: $navColor;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 80px 40px;
      display: grid;
      background-color: crimson;

      .cont-profile {
        margin-top: 20px;
        justify-self: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
        position: relative;
        border: 1px solid rgba(255, 255, 255, 0.802);

        &::after {
            content: "";
            position: absolute;
            top: 10px;
            right: 13px;
            transform: translate(50%, -50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: crimson;
            border: 1px solid white;
          }

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      .info-user {
        text-align: center;
        margin-bottom: 5px;

        .name {
          font-weight: bold;
          padding: 0px;
          margin: 0px;
        }

        .company {
          margin: 0px;
          font-size: 0.7rem;
          color: gray;
        }
      }

      .cont-actions {
        width: 100%;
        height: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;

        button:nth-child(1) {
          background: $blueApp;
          border: none;
          border-right: 1px solid white;
          color: white;
          border-bottom-left-radius: 15px;
        }
        button:nth-child(2) {
          background: $greenApp;
          border: none;
          color: white;
          border-bottom-right-radius: 15px;

        }
      }
    }
  }
}
