<div class="container">
    <p class="title">Members</p>
    <p class="pages">view <span id="wiew-actual">1 a 4</span> de <span id="view-total">200</span> active members</p>
    <div class="cont-users">
        <app-user></app-user>
        <div class="user">
            <div class="cont-profile">
                <img src="https://robohash.org/alberto" alt="image">
            </div>
            <div class="info-user">
                <p class="name">John Doe</p>
                <p class="company">Facebook</p>
            </div>
            <div class="cont-actions">
                <button>
                    <i class="fa-regular fa-user"></i></button>
                <button>
                    <i class="fa-solid fa-comments"></i>
                </button>
            </div>
        </div>
        <div class="user">
            <div class="cont-profile">
                <img src="https://robohash.org/alberto" alt="image">
            </div>
            <div class="info-user">
                <p class="name">John Doe</p>
                <p class="company">Facebook</p>
            </div>
            <div class="cont-actions">
                <button>
                    <i class="fa-regular fa-user"></i></button>
                <button>
                    <i class="fa-solid fa-comments"></i>
                </button>
            </div>
        </div>
        <div class="user">
            <div class="cont-profile">
                <img src="https://robohash.org/alberto" alt="image">
            </div>
            <div class="info-user">
                <p class="name">John Doe</p>
                <p class="company">Facebook</p>
            </div>
            <div class="cont-actions">
                <button>
                    <i class="fa-regular fa-user"></i></button>
                <button>
                    <i class="fa-solid fa-comments"></i>
                </button>
            </div>
        </div>
        <div class="user">
            <div class="cont-profile">
                <img src="https://robohash.org/alberto" alt="image">
            </div>
            <div class="info-user">
                <p class="name">John Doe</p>
                <p class="company">Facebook</p>
            </div>
            <div class="cont-actions">
                <button>
                    <i class="fa-regular fa-user"></i></button>
                <button>
                    <i class="fa-solid fa-comments"></i>
                </button>
            </div>
        </div>
        <div class="user">
            <div class="cont-profile">
                <img src="https://robohash.org/alberto" alt="image">
            </div>
            <div class="info-user">
                <p class="name">John Doe</p>
                <p class="company">Facebook</p>
            </div>
            <div class="cont-actions">
                <button>
                    <i class="fa-regular fa-user"></i></button>
                <button>
                    <i class="fa-solid fa-comments"></i>
                </button>
            </div>
        </div>


    </div>
    <app-footer></app-footer>
</div>
