<div class="container">
  <div class="cont-logo">
    <img src="../../../assets/images/logo.png" alt="logo">
    <p>Mission Recycling</p>
  </div>
  @if(true){
  <section>
    <div class="notification">
      <i class="fa-solid fa-bell"></i>
      <p id="notifications">2</p>
    </div>
    <div class="close-session">
      <button>
        <div class="cont-user-image">
          <img src="../../../assets/images/ph2.jpg" alt="profileimage">
          <p class="signal-notification"></p>
        </div>
        <p><span id="username">{{username}}</span><i class="fa-solid fa-chevron-down"></i></p>

      </button>
    </div>
  </section>
  }
</div>
