$greenApp: #90c129;
$blueApp: #7aa5f9;
$navColor: #f0f4f9;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.user {
  width: 140px;
  height: 140px;
  border-radius: 15px;
  background-color: $navColor;
  // background-color: crimson;
  grid-template-columns: 1fr;
  display: grid;

  .cont-profile {
    margin-top: 20px;
    justify-self: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.802);

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      right: 6px;
      transform: translate(50%, -50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: crimson;
      border: 1px solid white;
    }

    &.active::after {
      background: $greenApp;
    }

    &.inactive::after {
      background: crimson;
    }

    img {
      width: 100%;
      object-fit: cover;
      overflow: hidden;
      border-radius: 50%;
    }
  }

  .info-user {
    text-align: center;
    margin-bottom: 5px;

    .name {
      font-weight: bold;
      font-size: .8rem;
      padding: 0px;
      margin: 0px;
    }

    .company {
      margin: 0px;
      font-size: 0.6rem;
      color: gray;
    }
  }

  .cont-actions {
    width: 100%;
    height: 36px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;

    button:nth-child(1) {
      background: $blueApp;
      border: none;
      border-right: 1px solid white;
      color: white;
      border-bottom-left-radius: 15px;
    }
    button:nth-child(2) {
      background: $greenApp;
      border: none;
      color: white;
      border-bottom-right-radius: 15px;
    }
  }
}
