<section>
    <div class="cont-data-chat">
        <article class="head">
            <div class="user">
                <p class="user-info">Lorem ipsum</p>
            </div>
            <button>Invite to meet</button>
        </article>
        <article class="messages">
            <div class="box-ms">
                <div class="date-box">
                    <p>septiembre 19</p>
                </div>
                <div class="with">
                    <div class="profile">
                        <div class="cont">
                            <img src="https://robohash.org/rosa" alt="profile">
                        </div>
                    </div>
                    <div class="messages">
                        <p>Hi this is a test.</p>
                        <p>Hi this is a test.</p>
                        <p>Hi this is a test this.</p>
                        <p>Hi this is a test.</p>
                        <p>Hi this is a test.</p>
                        <p>Hi this is a test.</p>
                        <p>Hi this is a test.</p>
                        <p>Hi this is a test.</p>
                        <p>Hi this is a test.</p>
                        <p>Hi this is a test.</p>
                        <p>Hi this is a test.</p>
                    </div>
                </div>
            </div>
            <div class="box-ms">
                <div class="date-box">
                    <p>septiembre 19</p>
                </div>
                <div class="with">
                    <div class="profile">
                        <div class="cont">
                            <img src="https://robohash.org/Daniel%20Ramos" alt="profile">
                        </div>
                    </div>
                    <div class="messages">
                        <p>Hi this is a test.</p>
                        <p>Hi this is a test this is a test this is a test this is a test thisis a test.Hi this is a test this is a test this is a test this is a test thisis a test.</p>
                        <p>Hi this is a test.</p>
                        <p>Hi this is a test.</p>
                        <p>Hi this is a test.</p>
                    </div>
                </div>
            </div>
        </article>
        <form class="footer">
            <div class="cont-input">
                <input type="text" placeholder="Write you message...">
            </div>
            <div class="cont-button">
                <button>
                    <i class="fa-solid fa-paper-plane"></i>
                </button>
            </div>
        </form>
    </div>
</section>