<section>
    <div class="cont-data-chat">
        <article class="head">
            <div class="user">
                <p class="user-info">{{name}} Perez</p>
            </div>
            <div class="actions">
              <button>
                <i class="fa-solid fa-video"></i>
              </button>
            </div>
        </article>
        <article class="messages">
            <div class="box-ms-they">
                <div class="date-box">
                    <p>septiembre 19</p>
                </div>
                <div class="with">
                    <div class="profile">
                        <div class="cont">
                            <img src="../../../../assets/images/ph1.jpg" alt="profile">
                        </div>
                    </div>
                    <div class="messages">
                        <p>Hi, my name is Juan, can i get in touch with you ?</p>
                    </div>
                </div>
            </div>
            <div class="box-ms-me">
                <div class="date-box">
                    <p>septiembre 19</p>
                </div>
                <div class="with">
                    <div class="profile">
                        <div class="cont">
                            <img src="../../../../assets/images/ph2.jpg" alt="profile">
                        </div>
                    </div>
                    <div class="messages">
                        <p>Hi Juan, nice to meet you</p>
                        <p>Sure !!!</p>
                    </div>
                </div>
            </div>
            <div class="box-ms-they">
                <div class="date-box">
                    <p>septiembre 19</p>
                </div>
                <div class="with">
                    <div class="profile">
                        <div class="cont">
                            <img src="../../../../assets/images/ph1.jpg" alt="profile">
                        </div>
                    </div>
                    <div class="messages">
                        <p>let me check</p>
                    </div>
                </div>
            </div>
        </article>
        <form class="footer">
            <div class="cont-input">
                <input type="text" placeholder="Write you message..." required>
            </div>
            <div class="cont-button">
                <button>
                    <i class="fa-solid fa-paper-plane"></i>
                </button>
            </div>
        </form>
    </div>
</section>
