<section>
    <div class="cont-data-chat">
        <article class="head">
            <div class="user">
                <p class="user-info">Lorem ipsum</p>
            </div>
            <button>Invite to meet</button>
        </article>
        <article class="messages"></article>
        <form class="footer">
            <div class="cont-input">
                <input type="text" placeholder="Escrible un mensaje...">
            </div>
            <div class="cont-button">
                <button>
                    <div class="cont-icon">
                        <img src="{{iconURL}}" alt="icon">
                    </div>
                </button>
            </div>
        </form>
    </div>
</section>