$greenApp: #90c129;
$blueApp: #7aa5f9;
$navColor: #f0f4f9;

.calendar {

    width: 100%;
    box-sizing: border-box;
    padding: 15px 0px;
    
    section{
        background-color: $navColor;
        width: 90%;
        border-radius: 15px;
    }
  }
  