.container{
    margin-top: 30px;
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 10px;

    p{
        text-align: left;
        font-size: .8rem;
        color: gray;
    }
}

