<div class="container">
    <app-menu-button 
        [routerLink]="'dashboard'" 
        [label]="'dashboard'" 
        [iconURL]="'../../assets/icons/home.svg'">
    </app-menu-button>
    <p>COMMUNITY</p>
    <app-menu-button 
        [routerLink]="'members'" 
        [label]="'members'"
        [iconURL]="'../../assets/icons/user.svg'">
    </app-menu-button>
    <app-menu-button 
        [routerLink]="'messages'" 
        [label]="'messages'"
        [iconURL]="'../../assets/icons/messages.svg'">
    </app-menu-button>
    <app-menu-button 
        [routerLink]="'myquotes'" 
        [label]="'my quotes'"
        [iconURL]="'../../assets/icons/scheduler.svg'">
    </app-menu-button>
    <p>MY PROFILE</p>
    <app-menu-button 
        [routerLink]="'account'" 
        [label]="'acccount'"
        [iconURL]="'../../assets/icons/userconfig.svg'">
    </app-menu-button>
</div>