$greenApp: #90c129;
$blueApp: #7aa5f9;
$navColor: #f0f4f9;

.container {
  width: 100%;
  display: flex;
  background-color: $navColor;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  height: 58px;


  p {
    display: none;
  }
}

//TABLETS
@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    // background-color: #57c251;
    justify-content: center;
    gap: 10px;

    p {
      display: none;
      text-align: left;
      font-size: 0.7rem;
      color: gray;
    }
  }
}

//PCS
@media only screen and (min-width: 992px) {
  .container {
    margin-top: 25vh;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #df7af9;
    gap: 5px;

    p {
      text-align: left;
      display: block;
      font-size: 0.8rem;
      color: gray;
    }
  }
}
