<div class="container">
    <app-menu-button
        [routerLink]="'home'"
        [iconClass]="'fa-solid fa-home'">
    </app-menu-button>
    <p>COMMUNITY</p>
    <app-menu-button
        [routerLink]="'members'"
        [iconClass]="'fa-solid fa-users'">
    </app-menu-button>
    <app-menu-button
        [routerLink]="'messages'"
        [iconClass]="'fa-solid fa-comments'"
        [notification]="true">
    </app-menu-button>
    <p>MY PROFILE</p>
    <app-menu-button
        [routerLink]="'account'"
        [iconClass]="'fa-solid fa-user-gear'">
    </app-menu-button>
</div>
